.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-bottom: 25px;
}

.dashboard-card {
    display: grid;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid transparent;
}

.dashboard-card .title {
    font-size: .9rem;
    font-weight: 600;
    margin-bottom : 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dashboard-card .value {
    font-size: 2.5rem;
    fontweight: bold;
}

.dashboard-card .dot {
    width: 8px;
    height: 8px;
    border-color: 50%;
}

.dashboard-card.percentage {
    background-color: #e0f2fe;
    border-color: #bae6fd;
}

.dashboard-card.percentage .title,
.dashboard-card.percentage .value {
    color: #0369a1;
}

.dashboard-card.high {
    background-color: #fffbeb;
    border-color: #fef3c7;
}

.dashboard-card.high .title,
.dashboard-card.high .value {
    color: var(--color-orange);
}

.dashboard-card.high .dot {
    background-color: #d97706;
    
}

.dashboard-card.medium {
    background-color: #fefce8;
    border-color: #fef9c3;
}

.dashboard-card.medium .title,
.dashboard-card.medium .value {
    color: var(--color-yellow);
}

.dashboard-card.medium .dot {
    background-color: #a16207;
}

.dashboard-card.low {
    background-color: #f0fdf4;
    border-color: #dcfce7;
}

.dashboard-card.low .title,
.dashboard-card.low .value {
    color: var(--color-green);
}

.dashboard-card.low .dot {
    background-color: #16a34a;
}

@media (max-width: 600px) {
    .form-controls {
        grid-template-columns: 1fr;
        grid-template-areas: "priority""label""due""submit";
    }

    #deadline-label {
        justify-self: start;
        margin-right: 0;
        margin-bottom: 2px;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}