.form-title {
    margin-bottom: 10px;
}

#task-input {
    width: 600px;
    max-width: 100%;
    padding: 12px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-accent);
    min-height: 60px;
    resize: vertical;
    margin-bottom: 10px;
}

.form-controls {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "priority label date-input submit";
    aling-items: center;
    justify-items: stretch;
    gap: 10px 12px;
    margin-bottom: 5px
}

#priority-input {
    grid-area: priority;
    width: 100%;
    min-width: 0;
}

#deadline-label {
    grid-area: label;
    justify-self: end;
    align-self: center;
    white-space: nowrap;
}

#due-date-input {
    grid-area: date-input;
    width: 100%;
    min-width: 0;
}

.submit-btn {
    grid-area: submit;
    width: 100%;
    margin-top: 5px;

    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: var(--color-dark);
}


#priority-input, #due-date-input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--color-accent);
    font-size: .9rem;
    width: 100%;
    cursor: pointer;
}


@media (max-width: 600px) {
    .form-controls {
        grid-template-columns: 1fr;
        grid-template-areas: "priority" "label" "date-input" "submit";
    }

    #deadline-label {
        justify-self: start;
        margin-right: 0;
        margin-bottom: 2px;
    }

}




